<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/jee
			http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">

	<http>
		<form-login login-page="/login" authentication-failure-url="/login?error=true" />
		<logout />
		<anonymous username="anonymous" />
		<intercept-url pattern="/login" access="ROLE_USER,ROLE_OWNER,ROLE_ANONYMOUS,ROLE_ADMIN" />
		<intercept-url pattern="/user/**" access="ROLE_USER,ROLE_OWNER,ROLE_ADMIN" />
		<intercept-url pattern="/forum/**" access="ROLE_USER,ROLE_OWNER,ROLE_ADMIN" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/organ/**" access="ROLE_USER,ROLE_OWNER,ROLE_ADMIN" />
	</http>
	<authentication-provider>
		<jdbc-user-service data-source-ref="dataSource"
			users-by-username-query="SELECT userId, password, 'true' as enabled
									FROM USER
									WHERE userId = ?"
			authorities-by-username-query="select a.userid,
											      (case b.role
											        when 'A' then 'ROLE_ADMIN'
											        when 'C' then 'ROLE_ADMIN'
											        when 'O' then 'ROLE_OWNER'
											        else 'ROLE_USER'
											      end) as authorities
											from USER a left outer join USERGROUP b
											  on a.groupid = b.groupid
											where userid = ?" />
	</authentication-provider>

</beans:beans>
